body{
    box-sizing: border-box;
    width: 100%;
    background-color: black;
}
.main{
    display: flex;
    margin: auto;
}
#left{
    width: 600px;
}
#left>img{
    width: 100%;
}
#right{
    width: 900px;
    background-image: url("website_image/loginPageBackGroundTexture.jpg");
}
#right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    width: 50%;
    margin: auto;
    align-items: center;
}

button{
    margin: 30px;
    width: 120px;
    background-color: black;
    border-radius: 5px;
    height: 25px;
    color: white;
}
#right div input{
    width: 100%;
    margin: 20px;
    height: 40px;
    border-radius: 10px;
}
@media only screen and (max-width:800px){
    .main{
        display: block;
    }
    #right{
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    #left{
        width: 90%;
        margin: auto;
    }
}